html,
body {
	margin: 0; padding: 0; list-style-type: none;
    height: 100%;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
	padding-bottom:10px;
	background:#222;
	color:#9d9d9d
}
.footer h2 {
	font-size:18px
}
.footer li {
	line-height:1.8em;
	transition: width 2s;
}

.footer a {
	color:#999;
	transition: width 2s;
}
.footer a:hover {
	color:#fff
}
.footer hr {
	border-top:1px solid #000;
	border-bottom:1px solid #333;
	margin:10px 0
}
.footer dt {
	font-weight:normal
}
.footer dt i {
	font-size:2em;
	vertical-align:-5px
}
.footer .clearfix {
	line-height:20px
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.border-b{
	font-family:"宋体";
	font-weight:600;
}
.border-b H3{
	margin-top:10px;
	margin-bottom:0px;
	font-size: 20px;
	font-weight:600;
	color:#5A3;
}

.border-b H3 .img-re{
	 position:relative;
	 top:-3px;
	 width:30px;
}
.body-content{

}
.body-content .row{
	 border:1px solid #e5e5e5;
	 border-top: 1px solid #008a00;
}
.body-content .back-f{
    margin:10px 13px 7px 22px;
	border-right:1px solid #e6e6e6;
	background-color:#EEC;
}
.body-content p img{
   padding-top:15px;
}
.body-content .h-title{
    padding:5px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.body-content .h-title a{
    color:#666;
    text-decoration:none;
    font-family:"宋体";
    font-size: 12px;
	
}
.body-content .h-title a:hover{
    color:#C45500;
    text-decoration:none;
    font-family: 'Varela Round', arial;
    font-size: 14px;
}
.body-content .price-t{
    color:#c30;
    border-top:1px solid #000;
    padding:7px 0px;
	
}

.body-content .cart-t{
    border:1px solid #a6e1ec;
    padding:5px 5px;
    text-align:center;
	margin-bottom:16px;
	background-color:#E22;
	
}
.body-content .cart-t a{
    color:#fff;
    text-decoration:none;
    font-family:"宋体";
    font-size: 13px;
}

.p-css{
    text-indent:2em;
    font:14px/40px "Microsoft Yahei";
    color:#777;
}